# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Migrations cache
alembic/__pycache__/
alembic/versions/__pycache__/

# SQLite (if you ever test locally)
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
*.env
.env.*
